*{
    padding: 0;
    margin: 0;
}
main{
    background-color: black;
    width: 100%;
    height: 100vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h3{
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-top: 12vh;
    margin-left: 600px;
}
.input2{
    width: 400px;
    height: 7vh;
    color: white;
    margin-top:40px;
    background-color: black;
    border: 1px thin aliceblue;
    border-radius: 5px;
    margin-left: 500px;
}
.half{
    color:white;
}
.half2{
    /* margin-left: -50px; */
    color: white;
}