* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: black;
    color: white;
}

header {
    height: 10vh;
    width: 100%;
    background: #000;
    color: white;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #1db954;
}
.navbar {
    /* position: fixed; */
    /* overflow: visible; */
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
    background: #000;
    /* padding-right: 200px; */
}

.navbar:hover {
    /* background-color: #121212; */
    color: green;
}

.logo {
    height: 40px;
    width: 40px;
    display: flex;
    padding-bottom: 10px;
    margin-left: 40px;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.ll {
    color: lightgrey;
    font-size: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.dropdown-menu {
    position: absolute;
    top: 35px;
    left: 0;
    background: #1f1f1f;
    /* background-color: #fff; */
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    line-height: 50px;
    display: none;
    border-radius: 10px;
}
.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: white;
}

.dropdown-menu li a:hover {
    background: #333;
}
.dropdown:hover .dropdown-menu {
    display: block;
    color: green;
}
.first-section {
    width: 100%;
    height: 70vh;
    background: linear-gradient(to top, black 70%, rgb(130,109,111));
    display: flex;
    color: white;
    align-items: center;
}

.content {
    padding-left: 150px;
    width: 100%;
    border: 3px solid yellow;
}
.side-img{
    width: 1800px;
    height: 80vh;
    margin-left: 100px;
    margin-top: 70px;
    /* border: 3px solid white; */
}

.description {
    font-size: 15px;
    max-width: 500px;
    margin-bottom: 15px;
    color: #ddd;
}

.notice {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #1a1a1a;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 17px;
    text-decoration: none;
    /* display: inline-block; */
    text-align: center;

    margin-bottom: 15px;
}
.first-btn {
    /* width: 3vw; */
    background: rgb(255,210,215);
    text-decoration: none;
    color: #000;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.first-btn:hover {
    background-color: #e7c769;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.second-btn {
    background: transparent;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
}

.second-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.small-text {
    font-size: 15px;
    color: #aaa;
    max-width: 520px;
}

.color{
    color: #fff;
    /* background-color:; */
}