
main{
    width: 100%;
    height: 120vh;
    background-color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* nav{
    width: 100%;
    height: 10vh;
    position:sticky;
    background-color:aqua
} */
.mini-head1{
    display: flex;
    position: sticky;
}
.mini{
    filter: grayscale(80%);
    margin-left: 40px;
    margin-top: 40px;
}
.mini2{
    width: 150px;
    height: 150px;
background-color: aliceblue;
    /* margin-left: 40px; */
    clip-path: circle(30%);
}
.mini2 img{
    /* padding-left: 50px; */
    margin-left: 50px;
    margin-top: 50px;
}
.mini3{
    height: 8vh;
    width: 30%;
    color: rgb(127,163,179);
background-color: rgb(31,31,31);
border-radius: 50px;
margin-top:50px ;
}
.mini3 button{
    background-color:  rgb(31,31,31);
    width: 20px;
}
.mini3 input{
    width: 50%;
    height: 8vh;
    background-color: rgb(31,31,31);
text-decoration: none;
margin-left: 100px;
border: 1px thin  rgb(31,31,31) ;
}
.second{
    display: flex;
    background-color: rgb(18,18,18);
}
.left{
    width: 30%;
    height: 100vh;
    border: 3px solid white;
}
.middle{
    width: 70%;
    height: 100vh;
    background-color: blue;
}
.right{
    width: 20%;
    height: 100vh;
    background-color: red;
}
.left-nav{
    width: 100%;
    height: 15vh;
    background-color:brown;
    display: flex;
}
.middle-nav{
    width: 100%;
    height: 10vh;
    background-color:green;
}
.right-nav{
    width: 100%;
    height: 10vh;
    background-color: yellow;
}
.scroll-image{
    width: 400px;
    height: 84vh;
    overflow-y: scroll;
    background-color: darkred;
}
.scroll-image p{
    width: 90%;
    border: 3px solid black;
    margin-left: 5px;
}
 .scroll-image2{
    height: 90vh;
    overflow-y: scroll;
    background-color: darkred;
}
.scroll-image2 p{
    width: 95%;
    border: 3px solid black;
    margin-left: 5px;
}